<!-- _includes/share.html -->
<div class="share-buttons d-flex align-items-center mb-4">
    <span class="mr-2">Share:</span>
    <a class="mx-2" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}">
      <i class="fab fa-facebook fa-lg"></i>
    </a>
    <a class="mx-2" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}%20{{ page.url | absolute_url }}">
      <i class="fab fa-twitter fa-lg"></i>
    </a>
    <a class="mx-2" target="_blank" href="https://wa.me/?text={{ page.title | uri_escape }}%20{{ page.url | absolute_url }}">
      <i class="fab fa-whatsapp fa-lg"></i>
    </a>
    <a class="mx-2" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title | uri_escape }}">
      <i class="fab fa-linkedin fa-lg"></i>
    </a>
    <!-- 🔥 Pinterest Follow -->
  <a class="mx-2" target="_blank" href="https://www.pinterest.com/voyagebyluna/">
    <i class="fab fa-pinterest fa-lg"></i>
  </a>
  </div>
